<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blacksite.widget">

    <application
        android:name="com.blacksite.widget.Application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.blacksite.widget.provider.MyWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="39b2899c4f3dd939ad3f445eb61a9fd9fb4a4bab" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
